:root {
    --vt-maroon: #861F41; /* Couleur de fond principale */
    --vt-burntOrange: #BF5700; /* Couleur principale du texte */
    --vt-hokieStone: #75787b; /* Couleur secondaire */
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--vt-maroon); 
}

@font-face {
    font-family: 'Acherus Grotesque';
    src: url('../../styles/AcherusGrotesque-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Acherus Grotesque', sans-serif;
    font-weight: 800;
}

/*PLAYER PAGE */
.team-players-page {
    width: 100%;        
    box-sizing: border-box; 
    margin: 0;          
    padding-top: 350px; /* Ajustez cette valeur selon l'espacement requis */
}

    .team-title {
        background-color: var(--vt-hokieStone);
        background-image: repeating-radial-gradient(
            circle at 0 0,
            transparent 0,
        var(--vt-maroon) 24px
      ),
      repeating-linear-gradient(var(--vt-burntOrange), var(--vt-maroon));
    color: #FFFFFF;
    font-family: 'Acherus Grotesque', sans-serif;
    font-weight: 800; /* Extra bold */
    font-size: 8rem;
    text-align: center;
    padding: 100px 0; /* Espacement vertical */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
}

.player-list {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left : 10px;
   background-color: var(--vt-maroon);
    
}

.player-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Pour centrer les cartes */
    gap: 20px; /* Espacement entre les cartes */
}


.player-card {
    flex: 1 1 300px; /* Chaque carte de joueur prendra au moins 300px */
    max-width: 300px; /* Largeur maximale de la carte */
    box-sizing: border-box;
}

.player-card img {
    width: 100%;
    height: 450px; /* Gardez la hauteur constante */
    object-fit: cover; /* L'image couvrira l'espace sans distorsion */
    margin-top: 10px;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .team-title {
        font-size: 6rem;
        padding: 80px 0;
    }
}

@media (max-width: 768px) {
    .team-title {
        font-size: 4rem;
        padding: 60px 0;
    }

    .player-card {
        flex: 1 1 200px;
        max-width: 200px;
    }

    .player-card img {
        height: 300px;
    }
}

/* Responsive styles */
@media (max-width: 1200px) {
    .team-title {
        font-size: 6rem;
        padding: 80px 0;
    }
}

@media (max-width: 768px) {
    .team-title {
        font-size: 4rem;
        padding: 60px 0;
    }

    .player-card {
        flex: 1 1 200px;
        max-width: 200px;
    }

    .player-card img {
        height: 300px;
    }
}

@media (max-width: 370px) {
    .team-title {
        font-size: 4rem;
        padding: 60px 0;
    }

    .player-card {
        flex: 1 1 200px;
        max-width: 200px;
    }

    .player-card img {
        height: 300px;
    }
}



/* Result Page*/

.resultat-page {
    width: 100%;        
    box-sizing: border-box; 
    margin: 0;          
}

.resultat-title {
    background-color: var(--vt-hokieStone);
    background-image: repeating-radial-gradient(
        circle at 50% -20%,
        transparent 0,
        var(--vt-maroon) 24px
      ),
      repeating-linear-gradient(var(--vt-burntOrange), var(--vt-maroon));
    color: #FFFFFF;
    font-family: 'Acherus Grotesque', sans-serif;
    font-weight: 800; /* Extra bold */
    font-size: 8rem;
    text-align: center;
    padding: 100px 0; /* Espacement vertical */
    width: 100%;
    z-index: 1;
    
}


.card-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.game-summary {
  display: flex;
  flex-direction: column;
  background-color: #transparent;
  padding-bottom: 20px;
  width: 100;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.info-section {
  display: flex;
  height: 180px;
  background-color: #transparent;
  padding: 10px;
  margin-bottom: 20px;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Répartit l'espace entre les enfants */
  height: 100%; /* Assurez-vous que le parent a une hauteur définie */
  width: 250px; /* Fond de la classe game-info */
}

.league-info, .game-time {
  flex: 1; /* Permet aux sections de se partager l'espace */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Assure que chaque section prend toute la largeur */
}

.league-info {
  background-color: black;
  color: white;
}


.game-time {
  text-align: center;
  flex-direction: column;
  background-color: white;
  color: black; /* Utilisez "color" au lieu de "font-color" */
}

.game-details {
  display: flex;
  align-items: center;
  background-color: #75787b;
  width: 750px;
  color: white;
  
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-size: 1em;
}



.score {
  display: flex;
  align-items: center;
  font-size: 3em;
}
