.image-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden; /* Empêche le débordement horizontal */
}

.image {
    position: absolute;
    background-image: url('@/styles/homePage3.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(60%);
}

.image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, transparent 50%, black 100%);
    opacity: 1;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; /* Assure que le contenu est aligné en colonne */
}

.logo {
    display: flex;
    justify-content: center; /* Centre horizontalement le logo */
    transform: translateY(-600px);
    opacity: 30%;
}

.logo img {
    max-width: 100%; /* Rend le logo responsive */
    height: auto; /* Conserve les proportions du logo */
    transform: translateX(+20px);
}

/* Responsive styles */
@media (max-width: 1200px) {
    .logo {
        transform: translateY(-400px);
    }
}

@media (max-width: 768px) {
    .logo {
        transform: translateY(-200px);
    }

    .image::after {
        background: linear-gradient(to bottom, transparent 30%, black 100%);
    }
}

@media (max-width: 480px) {
    .logo {
        transform: translateY(-100px);
    }

    .image::after {
        background: linear-gradient(to bottom, transparent 20%, black 100%);
    }
}